{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
<div class="container mt-5 text-center">
    <h1 class="mb-4 text-primary">Bienvenue sur notre plateforme !</h1>
    <p class="lead">
        Nous sommes ravis de vous accueillir. Cette plateforme vous permet de créer un compte, 
        vous connecter et accéder à nos services de manière simple, rapide et sécurisée.
    </p>
    
</div>
{% endblock %}
