<h1>Bonjour !</h1>

<p>Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien suivant :</p>

<p>
    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">
        {{ url('app_reset_password', {token: resetToken.token}) }}
    </a>
</p>

<p>Ce lien expirera dans 
<strong>{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}</strong>.</p>

<p>À bientôt !</p>
