{% extends 'base.html.twig' %}

{% block title %}Modifier l'article{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Modifier l'article</h1>

        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card shadow-sm p-4">
                    {{ include('article/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

                    <div class="d-flex justify-content-between mt-3">
                        <a href="{{ path('app_article_index') }}" class="btn btn-secondary">
                            ← Retour à la liste
                        </a>

                        {{ include('article/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
