{% extends 'base.html.twig' %}

{% block title %}Liste des Articles{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Liste des Articles</h1>

    <div class="row justify-content-center">
        <article class="col-md-4 mb-4">
            <div class="card">
                <img src="http://placehold.it/350x150" class="card-img-top" alt="Image de l'article">
                
                <div class="card-body">
                    <h5 class="card-title">Titre de l'article</h5>
                    <p class="card-text">Voici un exemple de contenu d'article. Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                    <a href="#" class="btn btn-primary">Lire la suite</a>
                </div>
            </div>
        </article>
        <article class="col-md-4 mb-4">
            <div class="card">
                
                <img src="http://placehold.it/350x150" class="card-img-top" alt="Image de l'article">
                
                <div class="card-body">
                    <h5 class="card-title">Titre de l'article</h5>
                    <p class="card-text">Voici un exemple de contenu d'article. Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                    <a href="{{path('app_article_show')}}" class="btn btn-primary">Lire la suite</a>
                </div>
            </div>
        </article>
    </div>
</div>
{% endblock %}
