{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h1>Créer une Nouvelle Article</h1>

    {{ include('article/_form.html.twig') }}

     <div class="d-flex justify-content-end mt-3">
        <a href="{{ path('app_category_index') }}" class="btn btn-secondary">
            <i class="bi bi-arrow-left"></i> Retour à la liste
        </a>
    </div>
{% endblock %}
